<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Uh Oh!</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <div class="login-box">
        <form class="" action="/" method="post">
          <h1>Please <span class="bolder">log in</span> below</h1>
          <p>Uh oh! That information isn't quite right.</p>
          <input type="text" name="username" value="" placeholder="username">
          <br/>
          <input type="password" name="password" value="" placeholder="password">
          <br/>
          <button type="submit" value="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
