/* Default Mobile Styles */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

body {
  background-image: url('ema-background.jpg');
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.login-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .7);
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 60%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 {
  padding: 0 0 20px 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

p {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #333;
  font-size: 1.3em;
  padding: 5px 0;
  margin-bottom: 20px;
  width: 100%;
}

input:focus {
  outline: none;
}

button {
  padding: 15px 20px;
  background-color: #905caa;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #773f93;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.bolder {
  font-weight: 600;
}

/* Tablet Styles */
@media (min-width: 700px) {
  h1 {
    font-size: 2.3em;
  }

  p {
    font-size: 1.2em;
  }
}

/* Desktop Styles */
@media (min-width: 1000px) {
  .login-box {
    padding: 50px;
    height: 50%;
  }

  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.3em;
  }
}
